* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-image: url(/img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  min-height: 100vh;
}

/* header */
/* menu-bar */
#menu-bar {
  display: flex;
  padding: 25px;
  background-color: aliceblue;
  padding: 0 5px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: rgba(231, 229, 229, 0.434);
  border-radius: 0 0 15px 15px;
  font-family: "Bungee", sans-serif;
  font-weight: 250;
  font-style: normal;
  border: 0 solid;
  padding: 2.5px;
  box-shadow: 1px 4px rgba(101, 101, 100, 0.39);
}
.menuDisplay {
  text-align: right;
  flex: 1;
}
.menuDisplay ul {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 13px;
}
.menuDisplay ul li {
  border-radius: 5px;
  padding: 10px;
}
.menuDisplay a {
  text-decoration: none;
}
.menuDisplay ul li a:hover {
  background-color: rgba(180, 180, 179, 0.274);
  border-radius: 15px;
  padding: 10px;
}

